<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>해당하는 동물 페이지</h1>
    <br />
    <div><%= animalsById.species %></div>
    <div>이름은 <%= animalsById.name %></div>
    <div>종은 <%= animalsById.breed %></div>
    <br />
    <a href="/fruits">뒤로 가기</a>
  </body>
</html>
