<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>MVC</h2>
    <br />
    <a href="/users"> 유저 리스트로 가기 </a> <br />
    <br />
    <a href="/items"> 아이템 리스트로 가기 </a> <br />
    <br />
    <a href="/fruits"> 과일 리스트로 가기 </a> <br />
    <br />
    <a href="/cars"> 자동차 리스트로 가기 </a> <br />
    <br />
    <a href="/animals"> 동물 리스트로 가기 </a> <br />
    <br />
  </body>
</html>
