<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>카테고리가 가전인 상품 페이지</h1>

    <% gajenItem.forEach(item => { %>
    <li><%= item.name %></li>
    <% }) %>
  </body>
</html>
