<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>무게가 많이 나가는 과일 페이지</h1>
    <% weightFruit.forEach(fruit => { %>
    <li><%= fruit.name %></li>
    <% }) %>
  </body>
</html>
