<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% Object.keys(groupByFuel).forEach(fuelType => { %>
      <li>
        <strong><%= fuelType %></strong>
        <ul>
          <% groupByFuel[fuelType].forEach(car => { %>
          <li>
            <%= car.brand %> - <%= car.model %> (<%= car.price.toLocaleString()
            %> 원)
          </li>
          <% }) %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
