<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>해당하는 자동차 페이지</h1>
    <br />
    <h1>브랜드는 <%= carsbyid.brand %></h1>
    <h1>연료는 <%= carsbyid.fuel %></h1>

    <a href="/fruits">뒤로 가기</a>
  </body>
</html>
